Vancouver/.project
Vancouver/.settings/org.eclipse.core.resources.prefs
Vancouver/.settings/org.eclipse.jdt.core.prefs
Vancouver/.classpath
StarMap/bin/.DS_Store
StarMap/bin/StarMapMain.class
StarMap/bin/StarMapSketch.class
StarMap/bin/SwingGui.class
StarMap/bin/SwingGui$1.class
StarMap/bin/SwingGui$2.class
StarMap/bin/SwingGui$3.class
StarMap/bin/SwingGui$4.class
StarMap/bin/SwingGui$5.class
StarMap/bin/SwingGui$6.class
StarMap/bin/SwingGui$7.class
StarMap/bin/SwingGui$8.class
StarMap/bin/SwingGui$9.class
StarMap/bin/Vector1.class
Paperscape/bin/PaperscapeApp.class
Paperscape/bin/PaperscapeApp$BuildingBlock.class
Paperscape/bin/PaperscapeApp$BuildingBlock$Wall.class
Paperscape/bin/PaperscapeApp$Line.class
Paperscape/bin/Vector1.class
Paperscape/.settings/org.eclipse.core.resources.prefs
Paperscape/.settings/org.eclipse.jdt.core.prefs
